<aside class="p-3 h-100 d-flex flex-column">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="m-0">USERS</h5>
  </div>

  <div class="d-flex flex-column gap-2 overflow-auto">
    @for (user of chat.activeChannelUsers(); track user.id) {
      <div [class.offline]="!user.is_online" [class.online]="user.is_online" class="user d-flex align-items-center">
        <span class="text-truncate">{{ user.username }}</span>
      </div>
    }

    <button (click)="openAddUserModal()" class="add-btn btn btn-light mt-2">+ Add user</button>
  </div>
</aside>

<p-dialog
  [(visible)]="showAddUserModal"
  [modal]="true"
  [style]="{ width: '400px', height: '500px' }"
  header="Add User to #{{ chat.activeChannel()?.name }}"
>
  <p-select
    [(ngModel)]="selectedUserId"
    [options]="availableUsers()"
    [style]="{ width: '100%' }"
    optionLabel="username"
    optionValue="id"
    placeholder="Select a user"
  >
  </p-select>

  <ng-template pTemplate="footer">
    <button (click)="closeModals()" class="p-button-text" pButton>Cancel</button>
    <button (click)="addUserToChannel()" pButton>Add User</button>
  </ng-template>
</p-dialog>
