@use 'styles/mixins' as *;

.user {
  gap: 10px;
  font-size: 14px;
}

.user::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}

.user.online::before {
  background: #4caf50;
}

.user.offline::before {
  background: #f44336;
}

.add-btn {
  @include add-button;
}
