<div class="login-wrapper">
  <p-card class="login-card" header="Sign in">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="p-fluid">
      <div class="d-flex mb-1 flex-column">
        <label for="username">Username</label>
        <input formControlName="username" id="username" pInputText placeholder="Enter username" />
        @if (username?.invalid && username?.touched) {
          <small class="p-error">Username is required</small>
        }
      </div>

      <div class="d-flex mb-1 flex-column">
        <label for="password">Password</label>
        <p-password
          [feedback]="false"
          [toggleMask]="true"
          formControlName="password"
          id="password"
          placeholder="Enter password"
        ></p-password>

        @if (password?.invalid && password?.touched) {
          <small class="p-error">Password is required</small>
        }
      </div>

      @if (authService.error(); as error) {
        <p-message severity="error">{{ error }}</p-message>
      }

      <button
        [disabled]="loginForm.invalid"
        [loading]="authService.loading()"
        class="w-full mt-3"
        label="Sign In"
        pButton
        type="submit"
      ></button>
    </form>

    <div class="demo">
      <p class="fw-bold">Demo:</p>
      <p>Anton / password123</p>
    </div>
  </p-card>
</div>
