.icon-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #555;
}

.icon-btn .icon {
  font-size: 25px;
}

.icon-btn .label {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
