<div class="d-flex justify-content-between align-items-center p-3 border-bottom">
  <div class="text-truncate">
    <div class="fw-bold text-truncate">
      {{ user()?.username }}
    </div>
    <div class="text-muted small">IT'S YOU</div>
  </div>

  <div class="d-flex gap-3 flex-shrink-0">
    <button [routerLink]="['user']" class="icon-btn btn btn-link p-0 text-decoration-none">
      <i class="pi pi-cog icon"></i>
      <div class="label">SETTINGS</div>
    </button>

    <button (click)="onLogout()" class="icon-btn btn btn-link p-0 text-decoration-none">
      <i class="pi pi-sign-out icon"></i>
      <div class="label">LOG OUT</div>
    </button>
  </div>
</div>
