@mixin add-button($width: 60%, $bg: #f4c542) {
  width: $width;
  background: $bg;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  transition: 0.2s;
  flex-shrink: 0;
  &:hover {
    background: darken($bg, 10%);
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin scrollable {
  overflow-y: auto;
  min-height: 0;
}

@mixin clamp-p($min, $vw, $max) {
  padding: clamp(#{$min}, #{$vw}, #{$max});
}

@mixin clamp-gap($min, $vw, $max) {
  gap: clamp(#{$min}, #{$vw}, #{$max});
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin flex-fill {
  flex: 1;
  min-height: 0;
}

@mixin block-component {
  display: block;
}
