html,
body {
  font-size: 1rem;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  color: #000000;
  background-color: #fdfcfa;
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-underline-offset: 4px;

  &:hover {
    text-decoration: underline;
  }
}

.chat-area {
  display: grid;
  grid-template-columns: 320px 1fr;
  height: 100vh;
}


