@use 'styles/mixins' as *;

.channel-item {
  padding: 8px 12px;
  border-radius: 8px;
  background: #e1e1e1;
  border: none;
  color: black;

  &:hover {
    background: #e5e5e5;
  }

  &.active {
    background: #ddd;
  }
}

.add-btn {
  @include add-button;
}
